 img {
      height: 280px;
      float: right;
    }
    a {
      font-size: 15pt;
      color: blue;
    }
    td {
      font-weight: bold;
    }
    th {
      font-size: 12pt;
      color: blue;
    }
    h1 {
      color: #394989;
    }
    h3 {
      color: #66BFBF;
    }
    hr{
      border-style: none;
      border-top-style: dotted;
      border-color: grey;
      border-width: 5px; 
      width: 5%; 
    }
    ul {
      font-weight: bold;
    }